
@{
    ViewData["Title"] = "Recuperar Contraseña";
}
<h1>RecuperarPassword</h1>

<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Accede a tu cuenta</h5>
        <form asp-action="RecuperarPassword">
            <div class="form-group">
                <label for="input1">Email</label>
                <input id="input1" type="Email" class="form-control" name="email" placeholder="Email" required>
                <span class="text-warning">@ViewBag.Mensaje</span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar Recuperar Contraseña</button>
        </form>
    </div>
</div>
